<footer>
    <div class="container">
        <div>

            <div>
                <a href="">Rad Plants</a>
            </div> 

            <div>
                <h4>connect</h4>
                <ul>
                    <li><a href="">instagram</a></li>
                    <li><a href="">facebook</a></li>
                    <li><a href="">pintrest</a></li>
                    <li><a href="">youtube</a></li>
                </ul>
            </div>

            <div>
                <h4>Resources</h4>
                <ul>
                    <li><a href="">Return Polices</a></li>
                    <li><a href="">Track an Order</a></li>
                    <li><a href="">FAQS</a></li>
                    <li><a href="">Privacy Policy</a></li>
                </ul>
            </div>

            <div>
                <h4>About</h4>
                <ul>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">careers</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>
        </div>
        <p>Developed by Celestino Trosso</p>
    </div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
