</head>
<body>
    <header>
        <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href=""><h1>Rad Plants</h1></a>
                    </div>
                        <nav class="nav__item__text">
                            <ul>
                                <li class="nav__item"><a href="/">home</a></li>
                                <li class="nav__item"><a href="categories">categoria</a></li>
                                <li class="nav__item" ><a href="contact">contactos</a></li>
                            </ul>
                        </nav>
                    <ul class="nav__icons">
                        <li class="nav__item"><a href="">search</a></li>
                        <li class="nav__item"><a href="cart">Cart(0)</a></li>
                    </ul>
                </div>
        </div>
    </header> 