
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPage.css">
    <title>Rad plants</title>
</head>
<body>
    <header>
        <div class="container">
                <div class="navigation">
                    <div class="logo">
                        <a href=""><h1>Rad Plants</h1></a>
                    </div>
                        <nav class="nav__item__text">
                            <ul>
                                <li class="nav__item"><a href="/">home</a></li>
                                <li class="nav__item"><a href="/categories">categoria</a></li>
                                <li class="nav__item" ><a href="/contact">contactos</a></li>
                            </ul>
                        </nav>
                    <ul class="nav__icons">
                        <li class="nav__item"><a href="">search</a></li>
                        <li class="nav__item"><a href="">Cart(0)</a></li>
                    </ul>
                </div>
        </div>
    </header> 

    <main>
        <section class="hero__section">
            <div class="container">
                <div class=" hero">
                    <div class="hero__description">
                        <h1>Encontre Plantas perfeitas para sua casa</h1>
                        <p>Plantas Bonitas que te encorajam ser mais criativo</p>
                        <a href="">comprar</a>
                    </div>
                    <div class="ilustration">
                        <picture>
                            <img src="images/hero-img-mobile.jpeg" alt="MDN" />
                          </picture>
                    </div>
                </div>
            </div>
        </section>

        <section class="categories">
            <div class="container">
                <h1>Categoria</h1>
                <div class="category">
                    <div class=" plants">
                        <img src="images/Image (1).png" alt="jungle-plants">
                        <p>jungle-plants</p>
                    </div>
                    <div class="plants">
                        <img src="images/Image (2).png" alt="outdoor-plants">
                        <p>outdoor-plants</p>
                    </div>
                    <div class=" Plants">
                        <img src="images/Image (3).png" alt="Bedroom-plants">
                        <p>BedRoom plants</p>
                    </div>
                    <div class=" Plants">
                        <img src="images/Image (4).png" alt="Indoor-plants">
                        <p>Indoor Plants</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <p>Amor e Trabalho sao para as pessoas o que a agua e para as plantas</p>
            </div>
        </section>

        <!-- <section class="shop">
            <div class="container">
                <div class="plants__on__sale">
                    <div>
                        <h2></h2>
                        <p>Nossas Plantas are 100% organicas, nos nao usamos pesticidas or quimicos prejudicias. Mas por favor nao as coma</p>
                        <a href="">Comprar todas a favoritas</a>
                    </div>

                    <div>
                        <div class="on__sale">
                            <img src="images/image14.jpeg" alt="">
                        </div>
                        <p>Plant 1</p>
                        <p>10000kz</p>
                    </div>

                    <div>
                        <div class="on__sale">
                            <img src="images/image18.jpeg" alt="">
                        </div>
                        <p>Plant 2</p>
                        <p>7000kz</p>
                    </div>

                    <div>
                        <div class="on__sale">
                            <img src="images/Image.jpeg" alt="">
                            <p class="sold__out__btn">ESGOTADAS </p>
                        </div>
                        <p>Plant 3</p>
                        <p>5000kz</p>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="blog__section">
            <div class="container">
                <div class="blogs">
                    
                    <div class="blog post">
                        <div>
                            <img src="images/blog-img1.jpeg" alt="">
                            <p class="author">
                                <span>Written by</span>
                                <span></span>
                            </p>
                        </div>
                    </div>

                    <div class="blog post">
                        <div>
                            <img src="images/blog-img2.jpeg" alt="">
                            <p class="author">
                                <span>Written by</span>
                                <span></span>
                            </p>
                        </div>
                    </div>
                        
                </div>   
            </div>
        </section>

        <section class="newsletter">
            <div class="container">
                <div>
                    <p>Tenha 1 desconto de 15% no seu proximo pedido, subscreva na nossa Newsletter</p>
                    <input type="" placeholder="digite o seu email aqui">
                    <button type="submit">subscrever</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div>

                <div>
                    <a href="">Rad Plants</a>
                </div> 

                <div>
                    <h4>connect</h4>
                    <ul>
                        <li><a href="">instagram</a></li>
                        <li><a href="">facebook</a></li>
                        <li><a href="">pintrest</a></li>
                        <li><a href="">youtube</a></li>
                    </ul>
                </div>

                <div>
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="">Return Polices</a></li>
                        <li><a href="">Track an Order</a></li>
                        <li><a href="">FAQS</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>

                <div>
                    <h4>About</h4>
                    <ul>
                        <li><a href="">Our Story</a></li>
                        <li><a href="">careers</a></li>
                        <li><a href="">Press</a></li>
                    </ul>
                </div>
            </div>
            <p>Developed by Celestino Trosso</p>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>