
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 1rem auto;
}

header {
    margin: 0.5rem;
    padding: 0.2rem;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    padding: 1rem 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    justify-content: center;
}

.nav__item + .nav__item {
    margin-left: 1rem;
}


.hero a {
    display: inline-block;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.8rem 0.9rem; 
    width: 100%;
}

.categories h1 {
    margin-bottom: 1.5rem;
    text-align: center;
}


.newsletter div {
    text-align: center;
}


 input, button {
    width: 100%;
    padding: .6rem;
}

button{
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 0.6rem;
}

@media (min-width: 890px) {

    .category,
    .plants, 
    .blogs,
    .plants__on__sale{
        display: grid;
        gap: 20px;
    }

    .category {
        grid-template-columns: repeat(4, 1fr);
    }

    .plants__on__sale {
        grid-template-columns: repeat(4, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);  
    }

}
